@font-face {
  font-family: 'AGENCYB';
  src: url('@/assets/fonts/AGENCYB_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* *,
*::before,
*::after {
  font-family: 'AGENCYB', sans-serif !important;
} */

* {
  font-family: 'AGENCYB', sans-serif !important;
}

.ra {
  font-family: RPGAwesome !important;
}

.min-h-100 {
  min-height: 100vh;
}

.shadow-yellow {
  text-shadow: #fc0 1px 0 10px;
}

.v-main {
  background-color: #222222;
}

.blur-5px {
  backdrop-filter: blur(5px);
}
