@font-face {
  font-family: 'AGENCYB';
  src: url('@/assets/fonts/AGENCYB_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* *,
*::before,
*::after {
  font-family: 'AGENCYB', sans-serif !important;
} */

* {
  font-family: 'AGENCYB', sans-serif !important;
}

.ra {
  font-family: RPGAwesome !important;
}

.min-h-100 {
  min-height: 100vh;
}

.shadow-yellow {
  text-shadow: #fc0 1px 0 10px;
}

.v-main {
  background-color: #222222;
}

.blur-5px {
  backdrop-filter: blur(5px);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper > .v-container {
  flex: 5;
}

.max-container {
  max-width: 1260px !important;
}

.v-list-transparent {
  background-color: transparent;
}

html.v-overlay-scroll-blocked {
  position: fixed;
  top: var(--v-body-scroll-y);
  left: var(--v-body-scroll-x);
  width: 100%;
  height: 100%;
}

.v-list-item--99-line .v-list-item-subtitle {
  -webkit-line-clamp: 99;
  line-clamp: 99;
}

.v-overlay__scrim {
  background-color: rgba(0, 0, 0, 0.2) !important;
  opacity: 1 !important;
}

.menu-item .v-list-item__content {
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border: none;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
